[server]

[mysqld]

user					= mysql
port					= 3306
datadir					= /var/lib/mysql

bind-address			= 0.0.0.0

query_cache_size		= 16M

log_error				= /var/log/mysql/error.log
expire_logs_days		= 10

[embedded]

[mariadb]

[mariadb-10.3]
